// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin BancoTheme {
  @include valo;

  // Insert your own theme rules here
  	.cabecalho-rodape {
		background-color:#6adbd9;
	}
	.v-menubar {
		font-size: 12px;
		color: #404040;
		border: none;
		box-shadow: none;
		background: transparent;
	}
	.v-menubar > .v-menubar-menuitem {
		line-height: 28px;
		font-weight: 700;
		padding: 0 10px;
		background: #cafcfb;
	}
	.v-menubar > .v-menubar-menuitem-selected {
		color: white;
		background: #3acbc6;
	}
	.v-menubar > .v-menubar-menuitem-highlight {
		background: #0bbcb6;
		font-size: 14px;
		color: white;
	}
	.v-caption-bem-vindo {
	    font-size: 20px;
	}
	.v-label-msg-banco {
	    font-size: 40px;
	}
	.v-label-msg-inicial {
	    font-size: 20px;
		word-wrap: break-word;
		white-space: -moz-pre-wrap;
		text-align: justify;
	}
	.button-meta {
		background: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
		height: 30px;
		width: 100%;
		font-size: 12px;
	}
	.button-meta:focus:after {
		border: none;
		box-shadow: none;
	}
	.button-meta img {
		height: 30px;
		padding: 0px;
	}
	.v-grid-row.positivo > td{
	    background-color: #a3eb9e;
	    color: black;
		font-weight: bolder;
    }
    .v-grid-row.neutro > td{
    	background-color: #ebd69e;
    	color: black;
		font-weight: bolder;
	}
    .v-grid-row.negativo > td{
    	background-color: #eb9e9e;
    	color: black;
		font-weight: bolder;
	}
}
